<style type="text/css">
/*- Menu Tabs 5--------------------------- */

    #tabs5 {
      float:left;
      width:100%;
      background:#E3ECF3;
      font-size:93%;
      line-height:normal;

      }
    #tabs5 ul {
          margin:0;
          padding:10px 10px 0 50px;
          list-style:none;
      }
    #tabs5 li {
      display:inline;
      margin:0;
      padding:0;
      }
    #tabs5 a {
      float:left;
      background:url("images/tableft5.gif") no-repeat left top;
      margin:0;
      padding:0 0 0 4px;
      text-decoration:none;
      }
    #tabs5 a span {
      float:left;
      display:block;
      background:url("images/tabright5.gif") no-repeat right top;
      padding:5px 15px 4px 6px;
      color:#FFF;
      }
    /* Commented Backslash Hack hides rule from IE5-Mac \*/
    #tabs5 a span {float:none;}
    /* End IE5-Mac hack */
    #tabs5 a:hover span {
      color:#FFF;
      }
    #tabs5 a:hover {
      background-position:0% -42px;
      }
    #tabs5 a:hover span {
      background-position:100% -42px;
      }

      #tabs5 #current a {
              background-position:0% -42px;
      }
      #tabs5 #current a span {
              background-position:100% -42px;
      }
-->
</style>